<!-- index.html -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clásicos y Elegantes</title>
  {% include "core/subs/links.html" %}
</head>

<body>
  {%  include "core/subs/header.html" %}
  <main class="content">
    <!-- Tu contenido principal de libros -->
    <div class="container catalogo">
      {%   if catalogo     %}
          {% load static %}
          {% get_static_prefix as STATIC_URL %}
          {% for libro in catalogo %}
          <a href="/libro/{{libro.id}}">
            <article class="card" style="width: 18rem;">
              <img  src="{{STATIC_URL}}core/images/{{libro.id}}.jpg" class="card-img-top" alt="{{libro.titulo}} portada">
              <div class="card-body"> 
                  <h5 class="card-title">{{libro.titulo}}</h5>
                  <p class="card-text">{{libro.descripcion}}</p>
                  <button href="#" class="btn btn-primary">Comprar</button>
              </div>
            </article>
          </a>
          {% endfor %}
      {%  endif %}
    </div>
  </main>
  {%  include "core/subs/footer.html" %}
</body>
</html>