<!-- index.html -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clásicos y Elegantes</title>
  {% include "core/subs/links.html" %}  
</head>

<body>
  {% include "core/subs/header.html" %}

  <main class="content">
    <!-- Tu contenido principal de libros -->
    <div class="container libro">
      {% load static %}
        {% get_static_prefix as STATIC_URL %}
        {% if libro %}
        <div class="container libro">
        <section class="card">
            <img width="400px" src="{{STATIC_URL}}core/images/{{libro.id}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                 <h5 class="card-title">{{libro.titulo}}</h5>
                <p class="card-text">{{libro.descripcion}}</p>
                <a href="/calificar/{{libro.id}}" class="btn btn-primary">Calficar</a>
                </div>
        </section>
        </div>
        {% endif %}    


    </div>
  </main>

  {% include "core/subs/footer.html" %}

  <script>
    function toggleMenu() {
      document.getElementById("dropdown").classList.toggle("show");
    }
  </script>
</body>

</html>