<header>
    <div class="top-bar">
      <div class="logo">
        📚 <span class="menu-icon" onclick="toggleMenu()">☰</span>
        <div id="dropdown" class="dropdown-menu">
          <div>Nuevas entregas</div>
          <div>Clásicos</div>
          <div>Lo más pedido</div>
          <div>Estreno</div>
        </div>
      </div>
      <nav>
        <a href="/">Inicio</a>
        <a href="#">Categorías</a>
        <a href="/clubes">Clubs</a>
        <a href="#">Comentarios</a>
      </nav>
      <div class="auth-buttons">
        <a href="/registro"><button class="signup">Sign up</button></a>
        <a href="/login"><button class="login">Login</button></a>
        <a href="/clubes"><button class="Clubs">Clubs</button></a>
        <a href="/logout"><button class="login">Logout</button></a>
      </div>
    </div>
  </header>